---
import { Image } from "astro:assets";

import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSection from "../../components/sections/HeroSectionSubpages.astro";
import BlogPostCard from "../../components/utility/BlogPostCard.astro";
import PaginationControls from "../../components/utility/PaginationControls.astro";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/utility/FormattedDate.astro";

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  // Use Astro's paginate function to create pages with 5 posts each
  return paginate(posts, { pageSize: 5 });
}

interface PageProps {
  data: CollectionEntry<"blog">[];
  url: {
    prev?: string;
    next?: string;
  };
}
const title = "Blog - Neuigkeiten rund um den 3D-Druck";
const description =
  "Interessante Blog-Artikel rund um den 3D-Druck. Die neuesten Trends und Techniken nur im 3D-Druck-Schmiede-Blog.";

// All paginated data is passed on the "page" prop
const { page }: { page: PageProps } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <HeroSection backgroundGray={false}>
    <span slot="hero-heading">3D-Druck-Schmiede-Blog</span>
    <span slot="hero-subheading"
      >Bleiben Sie informiert: Die spannendsten Neuigkeiten aus der
      3D-Druck-Welt</span
    >
  </HeroSection>
  <section>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-2 md:mx-12 lg:mx-24 xl:mx-48 my-2"
    >
      {
        page.data.map((post) => (
          <BlogPostCard post={post} isBlogMainPage={true} />
        ))
      }
    </div>
  </section>
  <PaginationControls page={page} />
</BaseLayout>
