---
import { Image } from "astro:assets";

import FormattedDate from "../utility/FormattedDate.astro";

const { randomBlogPosts } = Astro.props;
---

<section class="my-6">
  <div class="flex items-center justify-center py-6 px-6 lg:px-24 text-center">
    <header class="max-w-2xl">
      <h2 class="text-5xl mb-4 font-bold text-black">Ähnliche Blog-Artikel</h2>
    </header>
  </div>
  <div
    class="grid grid-cols-1 lg:grid-cols-3 mx-6 md:mx-6 lg:mx-16 xl:mx-48 2xl:mx-72"
  >
    {
      randomBlogPosts.map((post) => (
        <article class="mx-2">
          <a href={`/blog/${post.slug}`}>
            {post.data.heroImage && post.data.heroImageAlt && (
              <Image
                class="rounded-lg md:w-full h-84 lg:h-96 object-cover"
                src={post.data.heroImage}
                format="webp"
                alt={post.data.heroImageAlt}
              />
            )}
          </a>
          <div class="flex flex-row items-center text-sm md:text-sm my-2">
            <div>
              <svg
                class="inline-block fill-white w-4 md:w-6 rounded-full bg-primary-light p-1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <title>account icon</title>
                <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
              </svg>
            </div>
            <p class="mx-2">{post.data.author}</p>
            <div class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden" />
            <div class="mx-2">
              <FormattedDate date={post.data.pubDate} />
            </div>
            <div class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden" />

            <div class="mx-2 ">
              <a
                href={`/kategorie/${post.data.category.toLowerCase()}`}
                class="hover:underline"
              >
                {post.data.category}
              </a>
            </div>
          </div>
          <a
            class="hover:text-primary transition ease-in delay-150"
            href={`/blog/${post.slug}`}
          >
            <h3 class="my-4 text-lg md:text-xl text-center md:text-left font-semibold">
              {post.data.title.split("|")[0]}
            </h3>
          </a>
        </article>
      ))
    }
  </div>
</section>
