---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSection from "../../../components/sections/HeroSectionSubpages.astro";
import BlogPostCard from "../../../components/utility/BlogPostCard.astro";
import PaginationControls from "../../../components/utility/PaginationControls.astro";

import { getCollection } from "astro:content";

const title = "Kategorie | 3D-Druck-Schmiede";
const description =
  "Interessante Blog-Artikel rund um den 3D-Druck. Die neuesten Trends und Techniken nur im 3D-Druck-Schmiede-Blog.";

export async function getStaticPaths({ paginate }) {
  const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  // // create Set of all categories
  // lower case for category matching
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.category.trim().toLowerCase())),
  ];

  return uniqueTags.flatMap((kategorie) => {
    // filter posts for correct category
    const filteredPosts = allPosts.filter(
      (post) => post.data.category.trim().toLowerCase() === kategorie
    );

    return paginate(filteredPosts, {
      params: { kategorie },
      pageSize: 4,
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
---

<BaseLayout title={title} description={description}>
  <HeroSection backgroundGray={false}>
    <span slot="hero-heading">{page.data[0].data.category}</span>
  </HeroSection>
  <section>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-2 md:mx-12 lg:mx-24 xl:mx-48 my-2"
    >
      {
        page.data.map((post) => (
          <BlogPostCard
            post={post}
            isBlogMainPage={false}
            isSimilarBlogCard={false}
            isResponsive={true}
          />
        ))
      }
    </div>
  </section>
  <PaginationControls page={page} />
</BaseLayout>
