---
// import astro specifics
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Schema } from "astro-seo-schema";

// component imports
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/sections/HeroSectionMain.astro";
import ContentSectionGroup from "../components/sections/ContentSectionGroup.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import PortfolioCarousel from "../components/vue/PortfolioCarousel.vue";
import PartnerSection from "../components/sections/PartnerSection.astro";
import MultiCardSection from "../components/sections/MultiCardSection.astro";
import BlogCarousel from "../components/vue/BlogCarousel.vue";

// import of relevant images
import companyLogo from "../images/logo.png";
import heroImage from "../images/marketing-img/hero-image.jpg";
import aboutImage from "../images/marketing-img/group-image.jpg";
import contactHero from "../images/marketing-img/contact-hero.jpg";

const title = "3D-Druck aus Friedrichshafen";
const description =
  "3D-Druck und 3D Modeling mit 3D-Druck-Schmiede aus Friedrichshafen";

// get collections for carousels
const allCaseStudies = await getCollection("case-studies");

const allBlogPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const latestBlogPosts = allBlogPosts.slice(0, 6);
---

<BaseLayout title={title} description={description}>
  <Schema
    slot="in-head"
    item={{
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      name: "3D-Druck-Schmiede",
      url: "https://3d-druck-schmiede.netlify.app/",
      logo: `https://3d-druck-schmiede.netlify.app/${companyLogo.src}`,
      description:
        "3D-Druck und 3D Modeling mit 3D-Druck-Schmiede aus Friedrichshafen",
      address: {
        "@type": "PostalAddress",
        streetAddress: "Musterstraße 40",
        addressLocality: "Friedrichshafen",
        addressRegion: "Baden-Württemberg",
        postalCode: "88045",
        addressCountry: "DE",
      },
      telephone: "015678 450001",
    }}
  />
  <HeroSection
    buttonText="Jetzt Kontakt aufnehmen"
    buttonLink="/kontakt"
    buttonPrimary={false}
    heroImage={heroImage}
    buttonPrimaryMobile={true}
  >
    <span slot="heading-content">
      Präzision trifft Innovation im 3D-Druck
    </span>
    <span slot="subheading-content">
      Von der Idee bis zum fertigen Produkt – alles aus einer Hand
    </span>
  </HeroSection>

  <ContentSectionGroup
    image={aboutImage}
    buttonText="Mehr über uns erfahren"
    showButton={true}
    imageRight={false}
    backgroundGray={false}
    buttonLink="/kontakt"
    altImage="Über Uns Bild"
    eagerLoad={true}
  >
    <span slot="section-heading"> Das sind wir: Die 3D-Druck-Schmiede </span>
    <p slot="section-content">
      Bei der 3D-Druck-Schmiede setzen wir auf modernste Technologien und
      umfassendes Know-how, um Ihre Ideen in die Realität umzusetzen. Egal ob
      Prototypen, individuelle Einzelstücke oder Serienproduktion – wir bieten
      Ihnen passgenaue Lösungen, die Ihre Anforderungen übertreffen.
    </p>
  </ContentSectionGroup>

  <ServicesSection />

  <PartnerSection />

  <PortfolioCarousel portfolioImages={allCaseStudies} client:visible />

  <MultiCardSection />

  <BlogCarousel latestBlogPosts={latestBlogPosts} client:visible />

  <section
    id="kontakt"
    class="bg-gradient-to-r from-primary to-primary-lighter"
  >
    <div class="flex h-screen">
      <div class="w-1/2 h-full hidden md:block">
        <Image
          src={contactHero}
          alt="Kontakt-Sektion Hero-Bild"
          format="webp"
          class="object-cover w-full h-full"
        />
      </div>

      <div class="w-none md:w-1/2 h-full flex items-center justify-center">
        <div class="px-4">
          <header class="text-white">
            <h2 class="text-5xl font-bold mb-4">
              Ihre Anfragen, unsere Antworten
            </h2>
            <p class="text-lg">3D-Druck-Schmiede</p>
            <p class="text-lg mb-6">Musterstraße 40, 88045, Friedrichshafen</p>
            <p class="text-lg">E-Mail: kontakt@3d-druck-schmiede.de</p>
            <p class="text-lg mb-6">Tel. 015678 450001</p>
          </header>
          <a
            class="bg-white text-primary py-2.5 px-3.5 rounded-md shadow-sm
        font-semibold text-sm hover:bg-white/80 transition duration-300
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
            href="/kontakt"
          >
            Jetzt Kontakt aufnehmen
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
