---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import ContentSectionGroup from "../components/ContentSectionGroup.astro";

const title = "3D-Druck-Schmiede";
const description =
  "3d-Druck und 3D Modeling mit 3D-Druck-Schmiede aus Friedrichshafen";

import heroImage from "../images/marketing-img/hero-image.jpg";
import aboutImage from "../images/marketing-img/group-image.jpg";
import innovateLogo from "../images/partner-logo/innovatetech-logo.png";
import artforgeLogo from "../images/partner-logo/artforge-logo.png";
import ecobuildLogo from "../images/partner-logo/ecobuild-logo.png";
import roboworksLogo from "../images/partner-logo/roboworks-logo.png";
import medtechLogo from "../images/partner-logo/medtech-logo.png";
import autonextLogo from "../images/partner-logo/autonext-logo.png";
import wikiImage3DPrinting from "../images/marketing-img/3d-printing-wiki.jpg";
import wikiImageFilament from "../images/marketing-img/filament-wiki.jpg";
import wikiImageFDM from "../images/marketing-img/fdm-wiki.jpg";
import contactHero from "../images/marketing-img/contact-hero.jpg";
---

<BaseLayout title={title} description={description}>
  <section
    class="bg-gradient-to-r from-primary to-primary-lighter md:bg-none md:bg-background"
  >
    <div class="flex items-center justify-center py-32 px-6 lg:px-24">
      <header class="max-w-lg">
        <h1
          class="text-5xl md:text-7xl mb-4 text-white md:text-black font-bold"
        >
          Präzision trifft Innovation im 3D-Druck
        </h1>
        <p class="text-xl mb-8 text-white md:text-black">
          Von der Idee bis zum fertigen Produkt – alles aus einer Hand
        </p>
        <a
          class="bg-white md:bg-primary text-primary md:text-white py-2.5 px-3.5 rounded-md shadow-sm font-semibold text-sm hover:bg-white/80 md:hover:bg-primary/80 transition duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
          href="/kontakt"
        >
          Jetzt Kontakt aufnehmen
        </a>
      </header>

      <div class="hidden md:block ml-8 xl:ml-24">
        <Image
          src={heroImage}
          alt="hero-shot 3D-Druck-Schmiede"
          width="500"
          format="webp"
          loading="eager"
          class="border-1 border-white rounded-lg shadow-lg"
        />
      </div>
    </div>
  </section>

  <ContentSectionGroup
    image={aboutImage}
    buttonText="Mehr über uns erfahren"
    showButton={true}
    imageRight={false}
    backgroundGray={false}
    buttonLink="/kontakt"
    altImage="Über Uns Bild"
  >
    <span slot="section-heading"> Das sind wir: Die 3D-Druck-Schmiede </span>
    <p slot="section-content">
      Bei der 3D-Druck-Schmiede setzen wir auf modernste Technologien und
      umfassendes Know-how, um Ihre Ideen in die Realität umzusetzen. Egal ob
      Prototypen, individuelle Einzelstücke oder Serienproduktion – wir bieten
      Ihnen passgenaue Lösungen, die Ihre Anforderungen übertreffen.
    </p>
  </ContentSectionGroup>

  <section class="bg-background">
    <header>
      <h2 class="text-5xl px-6 pt-12 text-black font-bold text-center">
        Unsere Leistungen
      </h2>
      <p class="text-lg mb-8 text-black text-center pt-4">
        Ob 3D-Print, Modeling oder Beratung. Wir bieten Ihnen ideale Lösungen
        für Ihr 3D-Printing-Projekt.
      </p>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center py-12 px-6 lg:px-48"
    >
      <div class="flex">
        <div>
          <svg
            class="fill-white w-16 rounded-full bg-primary p-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><title>3d-print-nozzle</title><path
              d="M7,2H17V7H19V13H16.5L13,17H11L7.5,13H5V7H7V2M10,22H2V20H10A1,1 0 0,0 11,19V18H13V19A3,3 0 0,1 10,22M7,9V11H8.5L12,15L15.5,11H17V9H15V4H9V9H7Z"
            ></path></svg
          >
        </div>
        <div class="ml-2">
          <h3 class="text-xl pt-6 text-black">3D-Printing</h3>
          <p class="text-lg mb-8 text-black pt-4">
            Nutzen Sie unsere fortschrittliche 3D-Drucktechnologie, um Ihre
            Designs schnell und genau umzusetzen. Wir bieten maßgeschneiderte
            Lösungen für Einzelstücke, Prototypen und kleine Serien.
          </p>
        </div>
      </div>
      <div class="flex">
        <div>
          <svg
            class="fill-white w-16 rounded-full bg-primary p-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><title>pencil-ruler</title><path
              d="M3 17.25V21H6.75L17.81 9.93L14.06 6.18L3 17.25M22.61 18.36L18.36 22.61L13.16 17.41L14.93 15.64L15.93 16.64L18.4 14.16L19.82 15.58L18.36 17L19.42 18L20.84 16.6L22.61 18.36M6.61 10.83L1.39 5.64L5.64 1.39L7.4 3.16L4.93 5.64L6 6.7L8.46 4.22L9.88 5.64L8.46 7.05L9.46 8.05L6.61 10.83M20.71 7C21.1 6.61 21.1 6 20.71 5.59L18.37 3.29C18 2.9 17.35 2.9 16.96 3.29L15.12 5.12L18.87 8.87L20.71 7Z"
            ></path></svg
          >
        </div>
        <div class="ml-2">
          <h3 class="text-xl pt-6 text-black">3D-Design und Modeling</h3>
          <p class="text-lg mb-8 text-black pt-4">
            Unser Team erstellt präzise und funktionale Designs, die Ihren
            Anforderungen entsprechen. Wir unterstützen Sie vom ersten Konzept
            bis zum fertigen Modell, um Ihre Vision perfekt umzusetzen.
          </p>
        </div>
      </div>

      <div class="flex">
        <div>
          <svg
            class="fill-white w-16 rounded-full bg-primary p-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><title>anvil</title><path
              d="M9,5V10C13.03,12.47 8.44,14.97 6,16V19H21V16C14.59,13.27 17.47,9 22,8V5H9M2,6C2.81,8.13 4.42,9.5 7,10V6H2Z"
            ></path></svg
          >
        </div>
        <div class="ml-2">
          <h3 class="text-xl pt-6 text-black">Materialberatung</h3>
          <p class="text-lg mb-8 text-black pt-4">
            Wir bieten umfassende Beratung zu verschiedenen Materialien und
            deren Eigenschaften, um die beste Lösung für Ihre Bedürfnisse zu
            finden. Profitieren Sie von unserer Expertise und optimieren Sie
            Ihre Druckergebnisse.
          </p>
        </div>
      </div>

      <div class="flex">
        <div>
          <svg
            class="fill-white w-16 rounded-full bg-primary p-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><title>human-male-board</title><path
              d="M20,17A2,2 0 0,0 22,15V4A2,2 0 0,0 20,2H9.46C9.81,2.61 10,3.3 10,4H20V15H11V17M15,7V9H9V22H7V16H5V22H3V14H1.5V9A2,2 0 0,1 3.5,7H15M8,4A2,2 0 0,1 6,6A2,2 0 0,1 4,4A2,2 0 0,1 6,2A2,2 0 0,1 8,4Z"
            ></path></svg
          >
        </div>
        <div class="ml-2">
          <h3 class="text-xl pt-6 text-black">Workshop und Live-Training</h3>
          <p class="text-lg mb-8 text-black pt-4">
            Erweitern Sie Ihre 3D-Druck-Kenntnisse mit unseren
            praxisorientierten Workshops und Live-Trainings. Lernen Sie von
            Experten, wie Sie die neuesten Technologien effektiv nutzen und Ihre
            Projekte erfolgreich umsetzen.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h2 class="text-5xl px-6 pt-12 text-black font-bold text-center">
        Starke Partnerschaften – Erfolgreiche Projekte
      </h2>
    </header>
    <div
      class="grid grid-cols-2 md:grid-cols-3 gap-2 items-center justify-center py-12 px-6 lg:px-24"
    >
      <div class="flex justify-center">
        <Image
          src={innovateLogo}
          alt="Logo InnovateTech Partner"
          width="200"
          format="webp"
        />
      </div>
      <div class="flex justify-center">
        <Image
          src={artforgeLogo}
          alt="Logo Artforge Partner"
          width="200"
          format="webp"
        />
      </div>
      <div class="flex justify-center">
        <Image
          src={ecobuildLogo}
          alt="Logo EcoBuild Partner"
          width="200"
          format="webp"
        />
      </div>
      <div class="flex justify-center">
        <Image
          src={roboworksLogo}
          alt="Logo RoboWWorks Partner"
          width="200"
          format="webp"
        />
      </div>
      <div class="flex justify-center">
        <Image
          src={medtechLogo}
          alt="Logo MedTech Partner"
          width="200"
          format="webp"
        />
      </div>
      <div class="flex justify-center">
        <Image
          src={autonextLogo}
          alt="Logo AutoNext Partner"
          width="200"
          format="webp"
        />
      </div>
    </div>
  </section>

  <section>
    <!--Portfolio Carousel placeholder -->
  </section>

  <section class="bg-background">
    <header>
      <h2 class="text-5xl px-6 py-12 text-black font-bold text-center">
        Wie funktioniert der 3D-Print überhaupt?
      </h2>
    </header>
    <div
      class="flex flex-col md:flex-row items-stretch justify-center py-6 px-6 lg:px-24"
    >
      <div
        class="rounded-sm border-2 border-primary-lighter bg-primary-lighter p-4 m-2 shadow-lg max-w-80 flex flex-col flex-grow"
      >
        <div class="flex justify-center">
          <Image
            src={wikiImage3DPrinting}
            alt="Bild 3D-Printing Wiki-Eintrag"
            width="300"
            format="webp"
          />
        </div>
        <h3 class="text-2xl pt-4 text-white text-center flex-grow">
          Was ist 3D-Printing?
        </h3>
        <p class="text-lg mb-8 text-white pt-2 text-center flex-grow">
          Erfahren Sie, wie der 3D-Druck das Produktdesign revolutioniert und
          schnelle, präzise Herstellung ermöglicht.
        </p>
        <div class="flex justify-center mt-auto">
          <a
            class="bg-primary text-white py-2.5 px-3.5 rounded-md shadow-sm font-semibold text-sm hover:bg-primary/80 transition duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
            href="/wiki/was-ist-3d-printing">Zum Wiki-Eintrag</a
          >
        </div>
      </div>
      <div
        class="rounded-sm border-2 border-primary-lighter bg-primary-lighter p-4 m-2 shadow-lg max-w-80 flex flex-col flex-grow"
      >
        <div class="flex justify-center">
          <Image
            src={wikiImageFilament}
            alt="Bild Filament Wiki-Eintrag"
            width="300"
            format="webp"
          />
        </div>
        <h3 class="text-2xl pt-4 text-white text-center flex-grow">
          Filamente im Überblick
        </h3>
        <p class="text-lg mb-8 text-white pt-2 text-center flex-grow">
          Tauchen Sie ein in die Welt der Filamente und lernen Sie die
          verschiedenen Materialien und ihre Einsatzmöglichkeiten kennen.
        </p>
        <div class="flex justify-center mt-auto">
          <a
            class="bg-primary text-white py-2.5 px-3.5 rounded-md shadow-sm font-semibold text-sm hover:bg-primary/80 transition duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
            href="/wiki/was-ist-filament">Zum Wiki-Eintrag</a
          >
        </div>
      </div>
      <div
        class="rounded-sm border-2 border-primary-lighter bg-primary-lighter p-4 m-2 shadow-lg max-w-80 flex flex-col flex-grow"
      >
        <div class="flex justify-center">
          <Image
            src={wikiImageFDM}
            alt="Bild FDM Wiki-Eintrag"
            width="300"
            format="webp"
          />
        </div>
        <h3 class="text-2xl pt-4 text-white text-center flex-grow">
          Was ist FDM?
        </h3>
        <p class="text-lg mb-8 text-white pt-2 text-center flex-grow">
          Erkunden Sie das FDM-Verfahren und verstehen Sie, wie durch sie
          besonders präzise und detailreiche Druckergebnisse liefert.
        </p>
        <div class="flex justify-center mt-auto">
          <a
            class="bg-primary text-white py-2.5 px-3.5 rounded-md shadow-sm font-semibold text-sm hover:bg-primary/80 transition duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
            href="/wiki/was-ist-fdm">Zum Wiki-Eintrag</a
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <!--Blog Carousel placeholder -->
  </section>

  <section class="bg-gradient-to-r from-primary to-primary-lighter">
    <div class="flex h-screen">
      <div class="w-1/2 h-full hidden md:block">
        <Image
          src={contactHero}
          alt="Kontakt Hero Bild"
          format="webp"
          class="object-cover w-full h-full"
        />
      </div>

      <div class="w-none md:w-1/2 h-full flex items-center justify-center">
        <div class="px-4 text-white">
          <header>
            <h2 class="text-5xl font-bold mb-4">
              Ihre Anfragen, unsere Antworten
            </h2>
            <p class="text-lg">3D-Druck-Schmiede</p>
            <p class="text-lg mb-6">Musterstraße 40, 88045, Friedrichshafen</p>
            <p class="text-lg">E-Mail: kontakt@3d-druck-schmiede.de</p>
            <p class="text-lg mb-6">Tel. +49 150 01 33 69</p>
          </header>
          <a
            class="bg-white text-primary py-2.5 px-3.5 rounded-md shadow-sm
        font-semibold text-sm hover:bg-white/80 transition duration-300
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/80"
            href="/kontakt"
          >
            Jetzt Kontakt aufnehmen
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
