---
import { Image } from "astro:assets";

const { image, altImage, employeeName, role, email } = Astro.props;
---

<div class="p-4 m-2 max-w-80">
  <div class="flex justify-center">
    <Image src={image} alt={altImage} width="300" format="webp" />
  </div>
  <h3 class="text-2xl pt-4">
    {employeeName}
  </h3>
  <p class="text-lg pt-2">
    {role}
  </p>
  <div class="text-lg pt-2">
    <a href={"mailto:" + email} class="hover:text-primary">{email}</a>
  </div>
</div>
