---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSection from "../../components/sections/HeroSectionSubpages.astro";

const posts = await getCollection("blog");
// create Set of all categories
const categories = [...new Set(posts.map((post) => post.data.category))];

const title = "Kategorien";
const description = "Interessante Blog-Artikel rund um den 3D-Druck.";
---

<BaseLayout title={title} description={description}>
  <HeroSection backgroundGray={false}>
    <span slot="hero-heading">Kategorien</span>
  </HeroSection>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-6">
      {
        categories.map((tag) => (
          <a
            class="transform hover:scale-105 transition-transform duration-200 ease-out"
            href={`/kategorie/${tag.toLowerCase()}`}
          >
            <div class="bg-primary-light rounded-lg p-12 m-4 shadow-lg hover:shadow-xl transition-shadow duration-200 ease-out">
              <p class="text-white text-2xl font-bold text-center break-words">
                {tag}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
