---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Schema } from "astro-seo-schema";

import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/utility/FormattedDate.astro";
import Icon from "../components/utility/GenericIcon.astro";
import BreadcrumbsDesign from "../components/utility/BreadcrumbsDesign.astro";
import SimilarBlogPosts from "../components/sections/SimilarBlogPosts.astro";
import CallToActionSection from "../components/sections/CallToActionSection.astro";

import companyLogo from "../images/logo.png"; // for schema

type Props = CollectionEntry<"blog">["data"];

const blogPosts = await getCollection("blog");

// filter out current blog post and return random posts
function getRandomBlogPosts(posts, count) {
  // get current path slug
  const currentPostSlug = Astro.url.pathname.split("/").pop();
  // filter out current post
  const filteredPosts = posts.filter((post) => post.slug !== currentPostSlug);

  // return x random posts
  return filteredPosts.sort(() => 0.5 - Math.random()).slice(0, count);
}

// get random blog posts
const randomBlogPosts = getRandomBlogPosts(blogPosts, 3);

const {
  title,
  description,
  author,
  pubDate,
  heroImage,
  category,
  heroImageAlt,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={heroImage?.src /*check if heroImage undefined*/}
>
  <Schema
    slot="in-head"
    item={{
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      mainEntityOfPage: {
        "@type": "WebPage",
        "@id": `${Astro.url}`,
      },
      headline: title,
      description: description,
      image: heroImage?.src,
      author: {
        "@type": "Person",
        name: author,
      },
      publisher: {
        "@type": "Organization",
        name: "3D-Druck-Schmiede",
        logo: {
          "@type": "ImageObject",
          url: `https://3d-druck-schmiede.netlify.app/${companyLogo.src}`,
        },
      },
      datePublished: `${pubDate}`,
      articleSection: category,
      url: `${Astro.url}`,
    }}
  />
  <article>
    <div class="flex flex-col">
      <div class="pt-4 md:pt-12 px-12">
        <BreadcrumbsDesign />
      </div>
      <h1
        class="text-3xl md:text-5xl text-center font-bold my-3 hyphens-auto mx-4 lg:mx-24 xl:mx-48"
      >
        {title}
      </h1>
      <div
        class="flex flex-col md:flex-row items-center justify-center text-lg"
      >
        <Icon
          iconWidth="w-8"
          icon="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
          bgColorOption="primary-light"
        />
        <p class="mx-2">{author}</p>
        <div
          class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden"
        >
        </div>
        <div class="mx-2"><FormattedDate date={pubDate} /></div>
        <div
          class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden"
        >
        </div>
        <a
          class="mx-2 hover:underline"
          href={`/kategorie/${category.toLowerCase()}`}>{category}</a
        >
      </div>
    </div>
    <div class="mx-6 md:mx-16 lg:mx-48 xl:mx-72 2xl:mx-96">
      <div class="flex justify-center mt-6">
        {
          heroImage && heroImageAlt && (
            <Image src={heroImage} alt={heroImageAlt} loading="eager" />
          )
        }
      </div>
      <div class="blog-content my-8 *:my-4 text-justify w-3/4 m-auto">
        <slot />
      </div>
    </div>
  </article>

  <SimilarBlogPosts randomBlogPosts={randomBlogPosts} />
  <CallToActionSection
    sectionHeadline="Interessiert am 3D-Druck? Wir setzen Ihre Ideen um!"
  >
    <span
      >Lassen Sie sich von unseren Blog-Artikeln inspirieren und verwandeln Sie
      Ihre Ideen in Realität. Kontaktieren Sie uns, um Ihre eigenen
      3D-Druckprojekte mit unseren Experten zu verwirklichen.</span
    >
  </CallToActionSection>
</BaseLayout>
