---
import type { CollectionEntry } from "astro:content";
import { Breadcrumbs } from "astro-breadcrumbs";

import BaseLayout from "./BaseLayout.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

import "astro-breadcrumbs/breadcrumbs.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, author, pubDate, heroImage, category } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div class="flex flex-col">
      <div class="py-4 md:py-12 px-12">
        <div class="my-6 flex justify-center text-black">
          <Breadcrumbs linkTextFormat="capitalized" indexText="Startseite">
            <svg
              slot="separator"
              width="24"
              height="24"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.10876 14L9.46582 1H10.8178L5.46074 14H4.10876Z"
                fill="#000000"></path>
            </svg>
          </Breadcrumbs>
        </div>
        <h1 class="text-5xl text-center font-bold my-3 break-words">{title}</h1>
        <div
          class="flex flex-col md:flex-row items-center justify-center text-lg"
        >
          <div>
            <svg
              class="fill-white w-6 rounded-full bg-primary p-1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              ><title>account icon</title><path
                d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
              ></path></svg
            >
          </div>
          <p class="mx-2">{author}</p>
          <div class="bg-primary-lighter rounded-full h-3 w-3 aria-hidden">
          </div>
          <div class="mx-2"><FormattedDate date={pubDate} /></div>
          <div class="bg-primary-lighter rounded-full h-3 w-3 aria-hidden">
          </div>
          <a
            class="mx-2 hover:underline"
            href={`/category/${category.toLowerCase()}`}>{category}</a
          >
        </div>
      </div>
      <div
        class="mx-6 md:mx-16 lg:mx-48 xl:mx-72 2xl:mx-96 my-8 wiki-content *:my-4 text-justify"
      >
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
