---
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import CallToActionSection from "../components/sections/CallToActionSection.astro";

import BreadcrumbsDesign from "../components/utility/BreadcrumbsDesign.astro";
import FormattedDate from "../components/utility/FormattedDate.astro";

const { id, data } = Astro.props;
---

<BaseLayout
  title={data.title}
  description={data.description}
  image={data.caseStudyImage.src}
>
  <ViewTransitions slot="in-head" />
  <article class="flex flex-col">
    <div class="py-4 md:py-12 px-12">
      <BreadcrumbsDesign />

      <div class="flex flex-col mx-6 md:mx-16 lg:mx-16 xl:mx-24 2xl:mx-48">
        <div class="w-full flex justify-center">
          <Image
            src={data.caseStudyImage}
            alt={data.caseStudyImageAlt}
            transition:name={id}
          />
        </div>
        <div>
          <h1 class="text-3xl font-bold break-words my-4">
            {data.title}
          </h1>
          <div class="*:my-2">
            <p><b>Unternehmen:</b> {data.company}</p>
            <div class="flex flex-row gap-2">
              <p><b>Projektlänge:</b></p>
              <FormattedDate date={data.startDate} /> -
              <FormattedDate date={data.endDate} />
            </div>
            <p><b>Materialien:</b> {data.materials}</p>
            <p><b>Druckverfahren:</b> {data.printingTechnology}</p>
            <div class="wiki-content my-4 *:my-4 text-justify overflow-x-auto">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <CallToActionSection
    sectionHeadline="Bereit für Ihr eigenes 3D-Druck-Projekt?"
  >
    <span
      >Lassen Sie uns gemeinsam Ihre Ideen zum Leben erwecken. Kontaktieren Sie
      uns noch heute, um maßgeschneiderte 3D-Drucklösungen zu erhalten, die
      genauso beeindruckend sind wie unsere bisherigen Projekte. Wir freuen uns
      darauf, Ihre Vision in die Realität umzusetzen!</span
    >
  </CallToActionSection>
</BaseLayout>
