---
import { getCollection } from "astro:content";

import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/utility/FormattedDate.astro";
import Icon from "../components/utility/GenericIcon.astro";
import BreadcrumbsDesign from "../components/utility/BreadcrumbsDesign.astro";
import SimilarWikiEntries from "../components/sections/SimilarWikiEntries.astro";

const wikiEntries = await getCollection("wiki");

// filter out current wiki entry and return random entries
function getRandomWikiEntries(posts, count) {
  // get current path slug
  const currentEntrySlug = Astro.url.pathname.split("/").pop();
  // filter out current entry
  const filteredEntries = posts.filter(
    (post) => post.slug !== currentEntrySlug
  );

  // return x random entries
  return filteredEntries.sort(() => 0.5 - Math.random()).slice(0, count);
}

// get random wiki entries
const randomWikiEntries = getRandomWikiEntries(wikiEntries, 3);

const { title, description, author, pubDate, termType } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div class="flex flex-col">
      <div class="py-4 md:py-12 px-12">
        <BreadcrumbsDesign />

        <h1
          class="text-3xl md:text-5xl text-center font-bold my-3 break-words lg:mx-24 xl:mx-48"
        >
          {title}
        </h1>
        <div
          class="flex flex-col md:flex-row items-center justify-center text-lg"
        >
          <Icon
            iconWidth="w-8"
            icon="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
            bgColorOption="primary-light"
          />
          <p class="mx-2">{author}</p>
          <div
            class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden"
          >
          </div>
          <div class="mx-2"><FormattedDate date={pubDate} /></div>
          <div
            class="bg-primary-lighter rounded-full h-0.5 md:h-1 w-0.5 md:w-1 aria-hidden"
          >
          </div>
          <p class="mx-2">{termType}</p>
        </div>
      </div>
      <div
        class="wiki-content mx-6 md:mx-16 lg:mx-48 xl:mx-72 2xl:mx-96 my-8 *:my-4 text-justify overflow-x-auto"
      >
        <slot />
      </div>
    </div>
  </article>
  <SimilarWikiEntries randomWikiEntries={randomWikiEntries} />
</BaseLayout>
